* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* [============================ START COMMON ============================] */
/* [============================ color ============================] */
:root {
    --text-color-white: #fff;
    --primary-color-black: #152427;
    --text-color-black_gray: #575d5e;
    --text-color-light_gray: #7d8188;
    --text-color-light_white: #e7f9f9;
    --secondary-color-gray: #6a8383;
    --bg-cream-green: #4dbb9a;
    --secondary-color-light_green: #e2eddf;
    --primary-black_green: #143c3c;
}
/* [============================ font-weight ============================] */
.weight-s {
    font-weight: 400;
}
.weight-m {
    font-weight: 500;
}
.weight-l {
    font-weight: 600;
}
.weight-xxl {
    font-weight: 800;
}
/* [============================ font-size ============================] */

h1.heading {
    font-weight: 800;
    font-size: 5rem;
    line-height: 60px;
    color: var(--primary-color-black);
}
h2.heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 52px;
    color: var(--primary-color-black);
}
h3.heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 22px;
    /* identical to box height, or 100% */
    color: var(--primary-color-black);
}

p.sub-heading {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 18px;
    color: var(--primary-color-black);
}

p.content {
    font-weight: 500;
    color: var(--text-color-light_gray);
}
p.content.--s {
    font-size: 1.4rem;
    line-height: 24px;
    /* or 171% */
}
p.content.--m {
    font-size: 1.6rem;
    line-height: 26px;
    /* or 162% */
}
p.content.--l {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 28px;
    /* or 156% */
}

.btn-m {
    display: inline-block;
    width: 173px;
    height: 57px;
    line-height: 57px;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    background: var(--primary-black_green);
    color: var(--text-color-white);
    transition: 0.3s ease;
}

.btn-m:hover {
    background: var(--secondary-color-light_green);
    color: var(--primary-color-black);
}

.btn-s {
    display: inline-block;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    background: var(--secondary-color-light_green);
    color: var(--primary-color-black);
    transition: 0.3s ease;
}

.btn-s:hover {
    background: var(--primary-black_green);
    color: var(--text-color-white);
}

/* [============================ Display ============================] */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* [============================ END COMMON ============================] */

/* [============================ Header ============================] */
.header {
    margin-top: 28px;
    font-family: "Public Sans", sans-serif;
}
.header-navigation__logo {
    display: flex;
    align-items: center;
}
.header-logo__img {
    display: inline-block;
}
.mobile-header-logo__img {
    display: none;
    margin-right: 6px;
}
.header-navigation {
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.header-navigation__menu {
    margin-left: auto;
}

.menu-item {
    margin-left: 8px;
}
.menu-link {
    position: relative;
    padding: 20px 15px 26px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-color-black_gray);
}

.menu-link.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 1;
    width: 16px;
    height: 2px;
    background: var(--primary-black_green);
}

.menu-link:hover {
    color: var(--primary-color-black);
}

.header-navigation__sign {
    margin-left: 88px;
}

.mobile-menu,
.mobile-menu-click,
.over-lay,
.mobile-menu__btn {
    display: none;
}

/* [============================ HeaderBody ============================] */

/* [============================ HeaderBody__left ============================] */

.header-body__left {
    width: 38%;
}

.header-body__heading {
    margin-top: 103px;
    max-width: 368px;
}
.header-body__content {
    margin-top: 20px;
    max-width: 341px;
}
.header-body__action {
    margin-top: 42px;
    align-items: center;
}

.header-body__link {
    align-items: center;
    padding: 7px;
}

.header-body__btn {
    margin-bottom: 10px;
    margin-right: 36px;
}

.header-body__half-circle-border {
    content: "";
    position: relative;
    display: inline-block;
    left: 0;
    width: 56px;
    height: 56px;
    border: 4px solid var(--primary-black_green);
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transform: rotate(-45deg);
    border-radius: 50%;
    transition: 0.3s ease;
}

.header-body__play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    color: var(--primary-black_green);
}

.header-body__link:hover .header-body__play-btn,
.header-body__link:hover .header-body__watch-btn {
    color: #83a17d;
}

.header-body__link:hover > .header-body__half-circle-border {
    transform: rotate(136deg);
}

.header-body__watch-btn {
    margin-left: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-black);
}
/* [============================ HeaderBody__right ============================] */
.header-body__right {
    width: 62%;
    max-height: 692px;
    position: relative;
}
.header-body__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
.header-body__img {
    margin-left: 25px;
    width: 100%;
    max-width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    transition: 0.3s ease;
}

.header-body__img:nth-of-type(2n) {
    margin-top: 137px;
}
.header-body__img:nth-of-type(2n-1) {
    transform: translateY(-77px);
}

.decor-img-first {
    position: absolute;
    top: 35px;
    left: -131px;
    z-index: 2;
}
.decor-img-last {
    position: absolute;
    top: 27px;
    left: -89px;
    z-index: 1;
}

.decor-img-first-1 {
    position: absolute;
    top: 561px;
    right: 34px;
    z-index: 2;
}
.decor-img-last-1 {
    position: absolute;
    top: 300px;
    right: 70px;
    z-index: 1;
    transform: rotate(180deg);
}

/* [============================ Logo Section ============================] */

.logo {
    margin-top: 130px;
}

.logo-container {
    justify-content: space-between;
    align-items: center;
    padding: 76px 122px 77px 121px;
    background: var(--secondary-color-light_green);
    border-radius: 100.5px;
}

.logo-item {
    display: inline-flex;
}

.logo-icon + .logo-icon {
    margin-left: 10px;
}
.logo-item:nth-child(2) .logo-icon:last-child {
    margin-left: 5px;
}

/* [============================ Service section ============================] */

.service {
    margin-top: 106px;
}

.service-container {
    justify-content: space-between;
}

.service__sub-heading {
    padding-left: 46px;
    position: relative;
}
.service__sub-heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.service__heading {
    margin-top: 12px;
    max-width: 520px;
    position: relative;
}

.service__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 76%;
    left: 67%;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.service-btn {
    align-self: flex-end;
    margin: 0 74px 10px auto;
}

.service-btn__icon {
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--secondary-color-light_green);
}

.service-btn__icon:hover {
    background: var(--primary-black_green);
}
.service-btn__icon:hover svg {
    color: var(--text-color-white);
}

.service-btn__icon svg {
    display: block;
    height: 54px;
    margin: auto;
    text-align: center;
}

.service-btn__icon.--right {
    margin-left: 17px;
    transform: rotate(180deg);
}

.service-thumb {
    margin-top: 76px;
    justify-content: space-between;
}

.service-thumb-item {
    width: 100%;
    max-width: 370px;
    height: 477px;
    border-radius: 20px;
    transition: 0.1s ease;
}

.service-thumb-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-thumb-item:hover .service-thumb__heading,
.service-thumb-item:hover .service-thumb__content {
    transform: translateX(18px);
}
.service-thumb-img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 318px;
    overflow: hidden;
}
.thumb-btn__icon {
    display: none;
}
.thumb__img {
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: 0.2s ease;
}

.thumb__img:hover {
    transform: scale(1.2);
}

.service-thumb__heading {
    margin: 24px 0 18px;
    transition: 0.2s ease;
}

.service-thumb__content {
    max-width: 268px;
    transition: 0.2s ease;
}

/* [============================ About Section ============================] */

.about {
    margin-top: 157px;
}

/* about-left */

.about-left {
    margin-right: auto;
    gap: 11px;
    position: relative;
}

.decor-1 {
    position: absolute;
    left: 46px;
    top: -18px;
    transform: rotate(176.99deg);
    z-index: 1;
}
.decor-2 {
    position: absolute;
    left: 50px;
    top: 35px;
    transform: rotate(12.64deg);
}

.about-left__img {
    margin: 13px 0 77px;
    width: 100%;
    max-width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-left__img.--first {
    margin: 90px 0 0;
}

/* .blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 205px;
    height: 205px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
} */

.about-left__card {
    font-family: "Public Sans";
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 20px 0;
    width: 143px;
    height: 144px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about-left__card span {
    display: block;
}

.card-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 14px;
    color: var(--primary-color-black);
}

.card-sub-title {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 14px;
    color: var(--text-color-black_gray);

    opacity: 0.4;
}

.card-percent {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 14px;
    color: var(--primary-color-black);
}

.card-progress {
    margin-top: 3px;
    display: block;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
    position: relative;
}

.card-progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.card-loading {
    margin-top: 3px;
    align-self: flex-end;
    font-weight: 500;
    font-size: 1rem;
    line-height: 14px;
    color: var(--primary-color-black);
}

.card-icon {
    width: 11px;
    height: 11px;
}

.teams {
    margin: 5px -3px 12px;
    display: flex;
    align-items: center;
}

.teams span {
    margin-right: auto;
}
.team-img {
    width: 100%;
    max-width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -6px;
}

/* about-right */

.about-right {
    max-width: 483px;
}

.about-right__sub-heading {
    padding-left: 46px;
    position: relative;
}
.about-right__sub-heading::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 1px;
    transform: translateY(-50%);
    background: var(--primary-color-black);
}

.about-right__heading {
    margin-top: 20px;
}

.about-right__content {
    margin-top: 11px;
}

.about-right__countdown {
    margin-top: 36px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.about-right__countdown-percent {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 52px;
    color: var(--primary-color-black);
}

.about-right__countdown-content {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--text-color-light_gray);
}

/* [============================ Process Section ============================] */

.process {
    margin-top: 115px;
}

.process-container {
}

.process__sub-heading {
    padding-left: 46px;
    position: relative;
}

.process__sub-heading::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.process__heading {
    max-width: 477px;
    position: relative;
}
.process__heading::after {
    position: absolute;
    content: "";
    top: 84px;
    left: 420px;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.process__item.--first {
    margin-top: 81px;
}

.process__item {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 54px;
    padding-left: 20px;
    padding-bottom: 21px;
    border-bottom: 3px solid var(--secondary-color-light_green);
    transition: 0.3s ease;
    position: relative;
}

.process__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s ease;
}

.process__item:hover .process__item-content {
    opacity: 0;
}
.process__item:hover .process__img {
    opacity: 0.9;
    visibility: visible;
    transform: translateX(0);
    z-index: 1;
}

.process__item:hover {
    background: #e2eddf;
    border-radius: 33px;
}
.process__item:hover .process_item-link {
    opacity: 1;
    visibility: visible;
}

.process__item-heading {
    margin-right: 64px;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 52px;
    color: var(--primary-black_green);
}

.process__item-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: auto;
}

.process__item-sub-heading {
    margin-top: 18px;
    display: block;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 22px;
    color: var(--primary-color-black);
}

.process_item-link {
    opacity: 0;
    visibility: hidden;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
    color: var(--text-color-black_gray);
    transition: 0.3s ease;
}

.process_item-link:hover {
    text-decoration: underline;
}

.process__item-content {
    max-width: 572px;
    font-family: "Public Sans";
}

/* [============================ MOBILE ============================] */
@media (max-width: 767px) {
    h1.heading {
        font-weight: 800;
        font-size: 3rem;
        line-height: 40px;
        color: var(--primary-color-black);
    }
    h2.heading {
        font-weight: 600;
        font-size: 3rem;
        line-height: 40px;
        color: var(--primary-color-black);
    }
    h3.heading {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 22px;
        color: var(--primary-color-black);
    }

    p.sub-heading {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 18px;
        color: var(--primary-color-black);
    }

    p.content {
        font-weight: 500;
        color: var(--text-color-light_gray);
    }
    p.content.--s {
        font-size: 1rem;
        line-height: 20px;
    }
    p.content.--m {
        font-size: 1.6rem;
        line-height: 26px;
        /* or 162% */
    }
    p.content.--l {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 24px;
    }
    .btn-s {
        display: inline-block;
        width: 107px;
        height: 26px;
        border-radius: 20px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 26px;
        text-align: center;
        background: var(--secondary-color-light_green);
        color: var(--primary-color-black);
        transition: 0.3s ease;
    }
    .btn-m {
        width: 92px;
        height: 32px;
        border-radius: 43px;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 32px;
    }
    .container {
        max-width: calc(100% - 20px);
    }
    /* [============================ Header ============================] */
    .header {
        margin-top: 25px;
    }
    .header-logo__img {
        display: none;
    }
    .mobile-header-logo__img {
        display: inline-block;
        margin-right: 6px;
    }
    .header-navigation__menu {
        display: none;
    }
    .header-navigation__sign {
        margin-left: auto;
    }
    .mobile-menu,
    .over-lay,
    .mobile-menu__btn {
        display: block;
    }
    .mobile-menu__btn {
        margin-left: 30px;
    }
    .over-lay {
        position: fixed;
        inset: 0;
        background: var(--secondary-color-light_green);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease;
        z-index: 1;
    }
    .mobile-menu {
        position: fixed;
        inset: 0 0 0 30%;
        padding: 30px;
        background: var(--text-color-light_white);
        transform: translateX(100%);
        transition: 0.3s ease;
        z-index: 2;
    }
    #mobile-menu:checked ~ .over-lay {
        opacity: 0.8;
        visibility: visible;
    }
    #mobile-menu:checked ~ .mobile-menu {
        transform: translateX(0);
    }
    .close-btn {
        position: absolute;
        display: inline-block;
        top: 5px;
        left: 10px;
        width: 28px;
        height: 28px;
        color: var(--text-color-light_gray);
    }
    /* [============================ HeaderBody ============================] */
    .header-body__heading {
        margin-top: 55px;
        max-width: 233px;
    }
    .header-body__content {
        margin-top: 10px;
    }
    .header-body__left,
    .header-body__right {
        width: 100%;
    }
    .header-body__bg {
        width: 205px;
        height: 205px;
        background: #4dbb9a;
        filter: blur(137px);
        z-index: -1;
    }
    /* [============================ HeaderBody__left ============================] */
    .header-body__action {
        margin-top: 19px;
        gap: 25px;
        justify-content: flex-start;
    }
    .header-body__btn {
        margin: 0;
        width: 107px;
        height: 35px;
        border-radius: 40px;
        line-height: 35px;
    }
    .header-body__link {
        align-items: center;
        padding: 0;
    }
    .header-body__play-btn {
        width: 30px;
        height: 30px;
    }
    .header-body__half-circle-border {
        width: 40px;
        height: 40px;
    }
    .header-body__watch-btn {
        margin-left: 5px;
        font-size: 1.4rem;
        line-height: 2.14;
    }
    /* [============================ HeaderBody__right ============================] */
    .header-body__right {
        margin-top: 55px;
        justify-content: space-evenly;
        display: flex;
    }
    .header-body__img:nth-of-type(2n-1) {
        transform: translateY(9px);
    }
    .header-body__img:nth-of-type(2n) {
        margin-top: 41px;
        position: relative;
        z-index: 3;
        opacity: 0.8;
    }
    .header-body__img {
        margin-left: 0;
        width: 100%;
        max-width: 85.35px;
        height: 196.9px;
    }
    .decor-img-first,
    .decor-img-first-1 {
        width: 19.97px;
        height: 19.96px;
        object-fit: contain;
    }
    .decor-img-last,
    .decor-img-last-1 {
        width: 151px;
        height: 100px;
        object-fit: contain;
    }
    .decor-img-first {
        top: 0px;
        left: 0px;
    }
    .decor-img-last {
        top: -4px;
        left: 10px;
    }
    .decor-img-first-1 {
        top: 193px;
        right: 0px;
    }
    .decor-img-last-1 {
        top: 117px;
        right: 10px;
    }

    /* [============================ Logo Section ============================] */

    .logo {
        margin-top: 95px;
    }

    .logo-container {
        justify-content: center;
        padding: 50px 32px;
        border-radius: 30px;
    }
    .logo-item:not(:last-child) {
        align-items: center;
        margin-bottom: 31px;
    }
    .logo-item:nth-child(1) > .logo-icon:last-child {
        width: 84px;
        height: 24px;
        margin-right: 45px;
    }
    .logo-item:nth-child(2) > .logo-icon:last-child {
        width: 51px;
        height: 15px;
    }
    .logo-item:nth-child(2) > .logo-icon:first-child {
        width: 28.94px;
        height: 33.28px;
    }
    .logo-item:nth-child(3) > .logo-icon:last-child {
        width: 80px;
        height: 20px;
        margin-right: 37px;
    }
    .logo-item:nth-child(4) > .logo-icon:last-child {
        width: 99px;
        height: 13px;
    }
    .logo-item:nth-child(5) > .logo-icon:last-child {
        width: 87px;
        height: 29px;
    }

    /* [============================ Service section ============================] */

    .service-container {
    }

    .service__sub-heading {
    }

    .service__heading {
        margin-top: 4px;
        max-width: 281px;
    }
    .service__heading::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 84%;
        left: 50%;
        width: 66px;
        height: 2px;
        background: var(--primary-color-black);
    }

    .service-btn {
        display: none;
    }

    .thumb-btn__icon {
        position: absolute;
        top: 45%;
        display: inline-block;
        width: 33px;
        height: 33px;
        background: var(--secondary-color-light_green);
        border-radius: 50%;
    }

    .thumb-btn__icon:first-child {
        left: 0;
    }

    .thumb-btn__icon:hover {
        background: var(--primary-black_green);
    }
    .thumb-btn__icon:hover svg {
        color: var(--text-color-white);
    }

    .thumb-btn__icon svg {
        display: block;
        height: 33px;
        margin: auto;
    }
    .thumb-btn__icon.--right {
        transform: rotate(180deg);
        right: 0;
    }

    .service-thumb {
        justify-content: center;
        position: relative;
    }

    .service-thumb-item + .service-thumb-item {
        display: none;
    }

    .service-thumb-item {
        max-width: 261px;
        height: 364px;
    }
    .thumb__img {
        height: 224px;
    }
    .service-thumb-img {
        height: 224px;
    }
    .service-thumb__heading {
        margin: 17px 0 6px;
    }

    .service-thumb__content {
        max-width: 193px;
    }

    /* [============================ About Section ============================] */

    .about {
        margin-top: 42px;
    }

    /* about-left */

    .about-left {
        gap: 5px;
        margin-right: auto;
        margin-left: auto;
    }

    .decor-1 {
        width: 38.12px;
        height: 38.11px;
        top: 7.35px;
        left: -20px;
        z-index: 1;
    }
    .decor-2 {
        width: 286.69px;
        height: 190.87px;
        top: 32px;
        left: -20px;
    }

    .about-left__img {
        margin-top: 8px;
        max-width: 152.33px;
        height: 257.46px;
        box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
        border-radius: 210px;
    }
    .about-left__img.--first {
        margin: 50px 0 0;
    }

    .about-left__card {
        right: 10px;
        bottom: -20px;
    }

    /* about-right */

    .about-right {
        margin-top: 115px;
    }

    .about-right__heading {
        max-width: 263px;
    }

    .about-right__content {
        margin-top: 12px;
        margin-bottom: 29px;
        max-width: 310px;
        text-align: justify;
        font-size: 1.4rem !important;
        line-height: 26px;
    }

    .about-right__countdown {
        margin-top: 15px;
        padding-bottom: 5px;
        gap: 15px;
    }

    .about-right__countdown-percent {
        font-size: 2.6rem;
        line-height: 52px;
    }

    /* [============================ Process Section ============================] */

    .process {
    }

    .process-container {
    }

    .process__sub-heading {
    }

    .process__heading {
        max-width: 298px;
    }

    .process__heading::after {
        position: absolute;
        content: "";
        top: 102px;
        left: 143px;
        width: 66px;
        height: 2px;
        background: var(--primary-color-black);
    }
    .process__item:hover .process__item-content {
        opacity: 0;
    }

    .process-list {
    }

    .process__item {
    }

    .process__item-heading {
        margin-right: 43px;
    }

    .process__item-sub {
    }

    .process__item-sub-heading {
    }

    .process__img {
        display: none;
    }

    .process__item-content {
        margin-top: 22px;
        margin-bottom: 22px;
    }
}
